.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.Item1{
    background-color: rgb(0, 15, 63);
    color: white;
    padding: 80px;
    text-align: center;
    width: 80px;
    font-size: 40px;
}

.Item2{
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
    padding: 80px;
    text-align: center;
    width: 80px;
    font-size: 40px;
}

.Item3{
    background-color: rgb(107, 0, 0);
    color: white;
    padding: 80px;
    text-align: center;
    width: 80px;
    font-size: 40px;
}

.Item4{
    background-color: rgb(81, 255, 0);
    color: white;
    padding: 80px;
    text-align: center;
    width: 80px;
    font-size: 40px;
}